<!-- default html template for our root page app.route('/') -->
<!doctype html>

<head>
    <title>Brandon's First Flask App</title>
    <!-- this Flask jinja2 in double brackets links our index page to styling sheet. -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <!-- link to pure.css stylesheets instead of our local ones -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@2.1.0/build/pure-min.css" integrity="sha384-yHIFVG6ClnONEA5yB5DJXfW2/KC173DIQrYoZMEtBvGzmf0PKiGyNEqe9N6BNDBH" crossorigin="anonymous">
</head>

<h1>THIS IS MY ROOT PAGE!</h1>

<body class="body_style">

<div> <!-- this is a like a 'body within a body' section -->
    <p>Please enter your name</p>

    <!-- using a Pure.css form! linked above -->
    <form class="pure-form" method="POST" action="/"> <!-- action= where to take you -->
    Name: <br>
    <input type="text" name="username"><br> <!-- name arg is a tag field. IMPORTANT for referencing elsewhere! -->
    Food: <br>
    <input type="text" name="fave_food"><br>
    <button type="submit" class="pure-button pure-button-primary" value="Submit">Submit</button>
    </form>
</div>

<br>

<div>
    {% if name_entered %} <!-- only True if someone passed and hit submit button, creating the `posted_name` variable in app.py -->
        <p> Welcome to my site, {{ name_entered }}! </p> <!-- param substitution from app.py happens in jinja2 template here -->
    {% endif %}
    {% if food_entered %} <!-- only True if someone passed and hit submit button, creating the `posted_name` variable in app.py -->
        <p> Your favorite food is {{ food_entered }}</p> <!-- param substitution from app.py happens in jinja2 template here -->
    {% endif %}
</div>

</body>
